.footer{
    margin-top:150px;
    text-align: center;
    background-color:lavender;
    border-top: 1px solid plum;
    height:100%;
    
}

.ContactUs{
    margin-top:30px;
    line-height: 1.6;

}

.Contacts{
    font-size:20px;
    color:rgb(182, 90, 182);
    font-weight:700;

}

.contactItems li{
    list-style-type: none;
    display: inline;
    padding:8px;
    cursor: pointer;

}

