.choices{
    margin:10px 30px;
    overflow: visible;

}
.choicesMenu {
    list-style-type: none;
    margin: 0;
    padding: 0px;
    float:right;
  }
  
  .choicesMenu li {
    display: inline;
    padding:20px;
    color:lightslategrey;
    cursor: pointer;
  }
 
.choicesMenu ,li a{
  color:lightslategrey;
  text-decoration: none;


}

.choicesMenu{
  color:lightslategrey;
}

.choicesMenu:hover,li a:hover{
  color:black;
  text-decoration: none;
}
